<!-- index.html -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicted Labels</title>
</head>
<body>
    <h1>Predicted Labels</h1>
    
    <h2>Generic AI:</h2>
    <p>{{ predicted_labels_generic }}</p>

    <h2>Parallel AI 1:</h2>
    <p>{{ predicted_labels_parallel_1 }}</p>

    <h2>Parallel AI 2:</h2>
    <p>{{ predicted_labels_parallel_2 }}</p>

    <h2>Combined AI:</h2>
    <p>{{ predicted_labels_combined }}</p>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicted Labels</title>
</head>
<body>
    <h1>Predicted Labels</h1>

    <h2>Generic AI:</h2>
    <p>{{ predicted_labels_generic }}</p>

    <h2>Parallel AI 1:</h2>
    <p>{{ predicted_labels_parallel_1 }}</p>

    <h2>Parallel AI 2:</h2>
    <p>{{ predicted_labels_parallel_2 }}</p>

    <h2>Combined AI:</h2>
    <p>{{ predicted_labels_combined }}</p>

    <h2>Suggested Colleges:</h2>
    <p>
        {% for exam in college_exam_data[predicted_labels_combined]['colleges'] %}
        <li>{{ exam }}</li>
        {% endfor %}
    </p>

    <h2>Entrance Exams:</h2>
    <p>
        {% for exam in college_exam_data[predicted_labels_combined]['exams'] %}
        <li>{{ exam }}</li>
        {% endfor %}
    </p>

    <h2>Suggested Resources:</h2>
    <p>
        {% for exam in college_exam_data[predicted_labels_combined]['resources'] %}
        <li>{{ exam }}</li>
        {% endfor %}
    </p>
</body>
</html>
